$lists
  &:not(:last-child)
    margin-bottom 12px

    +above($media-screen-tablet-lg)
      margin-bottom 16px

  .numbered-list
  .checked-list
    margin-top 12px
    margin-bottom 12px

    +above($media-screen-tablet-lg)
      margin-top 16px
      margin-bottom 16px

$lists-items
  break-inside avoid-column
  position relative

  &:not(:last-child)
    margin-bottom 12px

    +above($media-screen-tablet-lg)
      margin-bottom 16px

$lists-items-description-weight
  font-weight $font-weight-normal

$lists-items-description-font
  color $gray-900
  font-size 14px
  line-height 20px

  +above($media-screen-tablet-lg)
    font-size 16px
    line-height 24px
