// TODO add classes to use via @extend
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
	margin 0
	color $title-color
	font-weight $font-weight-semiBold
	-webkit-font-smoothing antialiased

h1, .h1
	font-size 28px
	line-height 36px

h2, .h2
	font-size 24px
	line-height 32px

h3, .h3
	font-size 20px
	line-height $line-height-bigger

h4, .h4
	font-size $font-size-bigger
	line-height $line-height-base

h5, .h5
	font-weight $font-weight-bolder
	font-size $font-size-base
	line-height $line-height-base
