ul
	margin 0
	padding 0
	list-style none

.list-native
	list-style-type disc

.list-native
.list-roman
.list-latin
	padding-left 40px

.list-numbered-content
.list-numbered-content__item
	list-style-type decimal

.list-roman
.list-roman__item
	list-style-type lower-roman

.list-latin
.list-latin__item
	list-style-type lower-latin

.list-numbered-content__section
	margin-bottom 21px
	padding-top 8px
