.section-subtitle
  text-align center
  font-weight $font-weight-normal
  font-size 14px
  line-height 20px
  margin-bottom 12px

  +above($media-screen-tablet)
    font-size 16px
    line-height 24px
    margin-bottom 16px

  +above($media-screen-tablet-lg)
    margin-bottom 20px

  +above($media-screen-desktop-lg)
    font-size 20px
    line-height 28px
    margin-bottom 24px

.section-subtitle--primary
  font-size 16px
  line-height 24px

  +above($media-screen-tablet-lg)
    font-size 20px
    line-height 28px

  +above($media-screen-desktop-lg)
    font-size 24px
    line-height 32px

.section-subtitle--secondary
  +above($media-screen-tablet-lg)
    font-size 16px
    line-height 24px
