$button-bg-color = #FF9000
$button-bg-hover-color = #FFA42E
$button-bg-disabled-color = #FFE3BF
$button-bg-dark-disabled-color = #BA6900
$button-bg-active-color = #E88300
$button-bg-bordered-active-color = #FFEED8
$button-bg-bordered-color = transparent
$button-bg-bordered-hover-color = #FFF9F2
$focus-shadow = 0 0 0 1px #fff, 0 0 0 3px #d4d4d4

.button
a.button
  display inline-block
  position relative
  padding 10px 16px
  min-width 120px
  border 2px solid $button-bg-color
  border-radius $border-radius
  background-color $button-bg-color
  background-image none
  font-weight $font-weight-semiBold
  font-family $font-family-base
  font-size 14px
  line-height 16px
  color $white
  vertical-align middle
  text-align center
  text-decoration none
  cursor pointer
  transitions()
  user-select none
  touch-action manipulation
  -webkit-font-smoothing antialiased

  +above($media-screen-desktop-lg)
    font-size 16px
    line-height 24px

  &:hover
  &.is-hovered
    text-decoration none
    background-color $button-bg-hover-color
    border-color $button-bg-hover-color
    color $white

  &:focus
  &.is-focused
    outline none
    box-shadow: $focus-shadow

  &:active
  &.is-active
    outline none
    box-shadow: $focus-shadow
    background-color: $button-bg-active-color
    border-color $button-bg-active-color
    background-image none

  &:disabled,
  &[disabled],
  &.is-disabled
    &
    &:hover
    &.is-hovered
    &:focus
    &.is-focused
    &:active
      opacity 1
      outline none
      background-color $button-bg-disabled-color
      border-color $button-bg-disabled-color
      cursor not-allowed
      pointer-events auto
      box-shadow none
      user-select none

  &.is-disabled--custom
    pointer-events none

.button--secondary
a.button--secondary
  border 2px solid $button-secondary-color
  background-color $button-secondary-color

  &:focus
    box-shadow 0 0 0 2px $gray-100

  &:active
  &--active
    outline none
    border 2px solid $button-secondary-active-color
    background-color $button-secondary-active-color
    background-image none
    box-shadow 0 0 0 2px $gray-100

  &:disabled,
  &[disabled],
  &.is-disabled
    &
    &:hover
    &:focus
    &:active
      border 2px solid $button-secondary-color
      background $button-secondary-color

  &:hover
  &:focus
  &:active
    border 2px solid $button-secondary-hover-color
    background $button-secondary-hover-color

#header .g-btn
.button--bordered
a.button--bordered
  background-color $button-bg-bordered-color
  color $gray-900

  &:hover
  &.is-hovered
    color $gray-900
    background-color $button-bg-bordered-hover-color
    border-color $button-bg-hover-color

  &:disabled,
  &[disabled],
  &.is-disabled
    &
    &:hover
    &.is-hovered
    &:focus
    &.is-focused
    &:active
      background-color $button-bg-bordered-color
      border-color $button-bg-disabled-color
      color #AAAAAA

  &:active
    background-color $button-bg-bordered-active-color
    border-color $button-bg-color

.button--dark-bg
a.button--dark-bg
  color $white

  &:hover
  &.is-hovered
    color $white
    background-color $button-bg-hover-color
    border-color $button-bg-color

  &:focus
  &.is-focused
    background-color $button-bg-color
    border-color $button-bg-color

  &:disabled,
  &[disabled],
  &.is-disabled
    &
    &:hover
    &.is-hovered
    &:focus
    &.is-focused
    &:active
      background-color $button-bg-bordered-color
      border-color $button-bg-dark-disabled-color
      color #808080

  &:active
    background-color $button-bg-active-color
    border-color $button-bg-color

.button--sm
a.button--sm
  min-width 104px
  padding 6px 16px
  font-size 12px
  line-height 16px

.button--lg
a.button--lg
  min-width 150px

  +above($media-screen-desktop-lg)
    font-size 20px
    line-height 28px

.button--md
  +above($media-screen-tablet)
    button-md()

  +above($media-screen-desktop)
    button-md()
