extends ../layouts/mobile

block head
	title Welcome

block styles
	link(rel="stylesheet" href=config.path.styles + "/payment-mobile.css")

block scripts
	script(src=config.path.scripts + "/paymentMobile.js")

block main
	.test
		| test text
