extends ../layouts/mobile

block head
	title Welcome

block styles
	link(rel="stylesheet" href=config.path.styles + "/payment-mobile.css")
	//- link(rel='stylesheet' href='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
	//- link(rel="preconnect" href="https://fonts.googleapis.com")
	//- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	//- link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet")

block scripts
	script(src=config.path.scripts + "/paymentMobile.js")
	//- script(src='https://code.jquery.com/jquery-1.11.1.min.js')
	//- script(src='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')

block main
	section(aria-label="Header menu").page-section.page-section--header
	section(aria-label="Paymant plan").viewport-area
		.viewport-area__step
			.breadcrumbs
				.breadcrumbs__item.is-active
					a(href="select-your-plan-trial-user.html").breadcrumbs__link  
						| Select a plan 
				.breadcrumbs__item.is-active
					a(href="pay-trial-user.html").breadcrumbs__link 
						| Pay 
				.breadcrumbs__item.is-active
					a(href="payment-success.html").breadcrumbs__link 
						| Enjoy pdfFiller
			
			.section-title
				| Payment successful!
			.section-subtitle
				| Thank you for your payment. You can now fill out, edit, and share your PDFs.
			.payment-success-decoration
				svg(width='288' height='260' viewbox='0 0 288 260' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(opacity='0.5' d='M7.28857 63.6286C7.28857 32.5129 32.5129 7.28857 63.6286 7.28857C69.4176 7.28857 74.1105 11.9815 74.1105 17.7704V58.1104C74.1105 66.947 66.947 74.1105 58.1105 74.1105H17.7704C11.9815 74.1105 7.28857 69.4176 7.28857 63.6286Z' fill='#C7E3FA')
					path(opacity='0.5' d='M109.498 35.7149C107.307 36.1186 105.86 38.2393 106.387 40.4035C117.486 85.9564 162.563 115.418 209.483 106.771C256.403 98.1252 288.018 54.5312 282.151 8.01426C281.872 5.80429 279.764 4.33871 277.573 4.74238L241.378 11.4124C239.241 11.8061 237.83 13.8359 237.984 16.0029C239.58 38.3426 224.064 58.8048 201.413 62.9787C178.763 67.1526 156.972 53.5655 150.5 32.1243C149.872 30.0444 147.83 28.6512 145.693 29.0449L109.498 35.7149Z' fill='#C7E3FA')
					path(d='M25.9993 37.0004L26.9527 37.9538C27.7031 38.7043 28.721 39.1259 29.7823 39.1259C30.8437 39.1259 31.8616 38.7043 32.612 37.9538L35.6443 34.9215C37.4572 33.1084 37.4572 30.1689 35.6443 28.3558V28.3558C33.8311 26.5429 30.8917 26.5429 29.0786 28.3558L28.1912 29.2442' stroke='#040E3A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M30.0011 33.9991L29.0477 33.0457C28.2972 32.2952 27.2793 31.8735 26.218 31.8735C25.1566 31.8735 24.1388 32.2952 23.3883 33.0457L20.356 36.0779C18.5431 37.8911 18.5431 40.8305 20.356 42.6437V42.6437C22.1692 44.4566 25.1086 44.4566 26.9218 42.6437L27.8091 41.7553' stroke='#040E3A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M47.28 45.56V31.54H50.18V33.18C50.4867 32.6467 50.9333 32.2 51.52 31.84C52.12 31.48 52.7867 31.3 53.52 31.3C54.8533 31.3 55.9467 31.7733 56.8 32.72C57.6533 33.6667 58.08 34.98 58.08 36.66V36.82C58.08 38.5 57.6533 39.82 56.8 40.78C55.9467 41.74 54.8533 42.22 53.52 42.22C52.7467 42.22 52.0667 42.0533 51.48 41.72C50.8933 41.3733 50.46 40.9333 50.18 40.4V45.56H47.28ZM52.66 39.96C53.46 39.96 54.0733 39.6933 54.5 39.16C54.9267 38.6267 55.14 37.8533 55.14 36.84V36.68C55.14 35.6533 54.9133 34.8733 54.46 34.34C54.0067 33.7933 53.4 33.52 52.64 33.52C51.8533 33.52 51.2267 33.7933 50.76 34.34C50.3067 34.8733 50.08 35.6533 50.08 36.68V36.84C50.08 37.8667 50.3067 38.6467 50.76 39.18C51.2133 39.7 51.8467 39.96 52.66 39.96ZM63.9344 42.22C62.6144 42.22 61.5277 41.76 60.6744 40.84C59.821 39.9067 59.3944 38.6 59.3944 36.92V36.76C59.3944 35.08 59.821 33.7533 60.6744 32.78C61.541 31.7933 62.6477 31.3 63.9944 31.3C65.541 31.3 66.641 31.9 67.2944 33.1V26.8H70.1744V42H67.2944V40.26C67.0144 40.82 66.5677 41.2867 65.9544 41.66C65.341 42.0333 64.6677 42.22 63.9344 42.22ZM64.7944 39.96C65.581 39.96 66.2077 39.6933 66.6744 39.16C67.141 38.6267 67.3744 37.8467 67.3744 36.82V36.66C67.3744 35.6333 67.1544 34.8533 66.7144 34.32C66.2877 33.7867 65.6744 33.52 64.8744 33.52C64.061 33.52 63.4344 33.7933 62.9944 34.34C62.5677 34.8733 62.3544 35.66 62.3544 36.7V36.86C62.3544 37.8733 62.5744 38.6467 63.0144 39.18C63.4544 39.7 64.0477 39.96 64.7944 39.96ZM73.2288 42V33.6H71.8488V31.54H73.2288V30.46C73.2288 29.26 73.5554 28.3533 74.2088 27.74C74.8621 27.1133 75.7754 26.8 76.9488 26.8C77.4554 26.8 77.9488 26.8733 78.4288 27.02V29.18C78.0554 29.0733 77.7088 29.02 77.3888 29.02C76.5354 29.02 76.1088 29.48 76.1088 30.4V31.54H79.5288V30.34C79.5288 29.14 79.8488 28.2333 80.4888 27.62C81.1421 26.9933 82.0621 26.68 83.2488 26.68C83.7954 26.68 84.2688 26.74 84.6688 26.86V29.04C84.3754 28.9333 84.0488 28.88 83.6888 28.88C82.8354 28.88 82.4088 29.34 82.4088 30.26V31.54H84.6688V33.6H82.4088V42H79.5288V33.6H76.1088V42H73.2288ZM86.3248 42V31.54H89.2048V42H86.3248ZM88.9248 29.68C88.6048 29.9733 88.2115 30.12 87.7448 30.12C87.2782 30.12 86.8848 29.9733 86.5648 29.68C86.2582 29.3733 86.1048 28.9933 86.1048 28.54C86.1048 28.0867 86.2582 27.7133 86.5648 27.42C86.8848 27.1133 87.2782 26.96 87.7448 26.96C88.2115 26.96 88.6048 27.1133 88.9248 27.42C89.2448 27.7133 89.4048 28.0867 89.4048 28.54C89.4048 28.9933 89.2448 29.3733 88.9248 29.68ZM91.9498 42V26.8H94.8298V42H91.9498ZM97.5553 42V26.8H100.435V42H97.5553ZM107.901 42.22C106.287 42.22 104.974 41.7467 103.961 40.8C102.947 39.84 102.441 38.54 102.441 36.9V36.74C102.441 35.1133 102.947 33.8 103.961 32.8C104.987 31.8 106.274 31.3 107.821 31.3C109.287 31.3 110.501 31.7467 111.461 32.64C112.434 33.5333 112.921 34.86 112.921 36.62V37.42H105.381C105.421 38.2867 105.667 38.96 106.121 39.44C106.574 39.92 107.194 40.16 107.981 40.16C109.234 40.16 109.961 39.6733 110.161 38.7H112.901C112.727 39.8333 112.207 40.7067 111.341 41.32C110.474 41.92 109.327 42.22 107.901 42.22ZM105.421 35.64H110.101C110.007 34.08 109.247 33.3 107.821 33.3C107.167 33.3 106.627 33.5067 106.201 33.92C105.787 34.32 105.527 34.8933 105.421 35.64ZM114.819 42V31.54H117.719V33.54C118.386 32.1133 119.512 31.3933 121.099 31.38V34.08C119.979 34.0667 119.132 34.2733 118.559 34.7C117.999 35.1133 117.719 35.8 117.719 36.76V42H114.819ZM123.451 42.18C122.958 42.18 122.538 42.0133 122.191 41.68C121.845 41.3333 121.671 40.9133 121.671 40.42C121.671 39.94 121.845 39.5333 122.191 39.2C122.538 38.8533 122.958 38.68 123.451 38.68C123.958 38.68 124.385 38.8533 124.731 39.2C125.078 39.5333 125.251 39.94 125.251 40.42C125.251 40.9133 125.078 41.3333 124.731 41.68C124.385 42.0133 123.958 42.18 123.451 42.18ZM131.903 42.22C130.329 42.22 129.036 41.7533 128.023 40.82C127.023 39.8733 126.523 38.5667 126.523 36.9V36.74C126.523 35.1 127.036 33.7867 128.063 32.8C129.103 31.8 130.389 31.3 131.923 31.3C133.256 31.3 134.376 31.6267 135.283 32.28C136.203 32.9333 136.723 33.96 136.843 35.36H134.103C133.903 34.1733 133.196 33.58 131.983 33.58C131.223 33.58 130.616 33.8533 130.163 34.4C129.709 34.9467 129.483 35.7133 129.483 36.7V36.86C129.483 37.9 129.703 38.6933 130.143 39.24C130.596 39.7733 131.229 40.04 132.043 40.04C132.643 40.04 133.149 39.8667 133.563 39.52C133.976 39.1733 134.216 38.6733 134.283 38.02H136.903C136.823 39.2867 136.343 40.3067 135.463 41.08C134.583 41.84 133.396 42.22 131.903 42.22ZM141.705 39.18C142.159 39.74 142.792 40.02 143.605 40.02C144.419 40.02 145.045 39.74 145.485 39.18C145.939 38.62 146.165 37.84 146.165 36.84V36.7C146.165 35.7 145.939 34.92 145.485 34.36C145.045 33.7867 144.419 33.5 143.605 33.5C142.805 33.5 142.179 33.78 141.725 34.34C141.272 34.8867 141.045 35.66 141.045 36.66V36.82C141.045 37.82 141.265 38.6067 141.705 39.18ZM143.585 42.22C141.999 42.22 140.685 41.7333 139.645 40.76C138.605 39.7733 138.085 38.48 138.085 36.88V36.72C138.085 35.1067 138.605 33.8 139.645 32.8C140.685 31.8 142.005 31.3 143.605 31.3C145.205 31.3 146.519 31.7933 147.545 32.78C148.585 33.7533 149.105 35.0467 149.105 36.66V36.82C149.105 38.4467 148.585 39.7533 147.545 40.74C146.505 41.7267 145.185 42.22 143.585 42.22ZM151.05 42V31.54H153.95V33.14C154.23 32.6067 154.65 32.1667 155.21 31.82C155.77 31.4733 156.416 31.3 157.15 31.3C158.603 31.3 159.576 31.9067 160.07 33.12C160.883 31.9067 162.056 31.3 163.59 31.3C164.616 31.3 165.443 31.6333 166.07 32.3C166.71 32.9667 167.03 33.9667 167.03 35.3V42H164.15V35.62C164.15 34.3267 163.603 33.68 162.51 33.68C161.923 33.68 161.436 33.8667 161.05 34.24C160.676 34.6133 160.49 35.14 160.49 35.82V42H157.61V35.62C157.61 34.3267 157.063 33.68 155.97 33.68C155.383 33.68 154.896 33.8667 154.51 34.24C154.136 34.6133 153.95 35.14 153.95 35.82V42H151.05Z' fill='#040E3A')
					rect(x='1' y='11' width='183' height='50' rx='25' stroke='#7D75D3' stroke-width='2')
					rect(x='97' y='129' width='101' height='102' rx='50.5' fill='#E5F3FF')
					rect(x='227' y='145' width='61' height='61' rx='30.5' fill='#C7E3FA')
					rect(x='182' y='208' width='106' height='52' rx='26' fill='#02C385')
					rect(x='240' y='212' width='44' height='44' rx='22' fill='white')
					path(d='M4 260H148C150.209 260 152 258.209 152 256V117L131.805 103.616C131.59 103.473 131.404 103.292 131.255 103.081L115 80H4C1.79086 80 0 81.7909 0 84V256C0 258.209 1.79086 260 4 260Z' fill='#C7E3FA')
					path(d='M16 155.357H26.6173L28.2274 149.473H39.5995L41.26 155.357H53.3365L42.0651 120H27.3217L16 155.357ZM33.9638 129.049L37.4861 141.857H30.3912L33.9638 129.049Z' fill='#040E3A')
					path(d='M63.7407 156C68.0178 156 70.3324 154.17 71.4394 152.39V155.357H81V138.643C81 131.819 76.3707 128.753 68.7222 128.753C61.1744 128.753 56.1425 131.967 55.74 138.297H64.9986C65.1496 136.962 65.8541 135.527 68.1184 135.527C70.7853 135.527 71.1878 137.11 71.1878 139.286V139.731H68.9235C59.8158 139.731 54.7839 142.104 54.7839 148.187C54.7839 153.725 59.0107 156 63.7407 156ZM67.3133 149.473C65.5018 149.473 64.5458 148.681 64.5458 147.445C64.5458 145.615 65.7534 144.973 69.0745 144.973H71.1878V146.308C71.1878 148.236 69.5776 149.473 67.3133 149.473Z' fill='#040E3A')
					rect(x='16' y='172' width='120' height='6' rx='3' fill='white')
					rect(x='16' y='186' width='120' height='6' rx='3' fill='white')
					rect(x='16' y='200' width='75' height='6' rx='3' fill='white')
					path(d='M152 117L115 80V113C115 115.209 116.791 117 119 117H152Z' fill='#1C78C4')
					rect(x='224' y='80' width='64' height='64' rx='32' fill='#0F1D58')
					path(d='M256 99V102.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M269.789 98.2114C277.404 105.827 277.404 118.173 269.789 125.789C262.174 133.404 249.827 133.404 242.212 125.789C234.596 118.173 234.596 105.827 242.212 98.2114C249.827 90.5962 262.174 90.5962 269.789 98.2114' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M256 125V121.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M249.5 116.886V116.886C249.5 119.579 251.682 121.761 254.375 121.761H257.935C260.455 121.761 262.5 119.718 262.5 117.196V117.196C262.5 115.103 261.077 113.278 259.046 112.769L252.954 111.242C250.924 110.733 249.5 108.908 249.5 106.815V106.815C249.5 104.293 251.543 102.25 254.065 102.25H257.625C260.318 102.25 262.5 104.432 262.5 107.125V107.125' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M238.871 30.9834C240.245 33.1759 243.848 37.2473 247.264 35.9933C251.535 34.4259 249.205 28.568 246.019 30.024C242.834 31.48 241.013 37.3124 244.288 40.8151C246.472 43.1503 249.217 42.7933 249.217 42.7933' stroke='#2192EF' stroke-width='2' stroke-linecap='round')
					rect(x='162' y='150' width='120' height='52' stroke='#2192EF' stroke-width='2')
					rect(x='276' y='196' width='12' height='12' rx='1' fill='#2192EF')
					rect(x='156' y='196' width='12' height='12' rx='1' fill='#2192EF')
					rect(x='276' y='144' width='12' height='12' rx='1' fill='#2192EF')
					rect(x='156' y='144' width='12' height='12' rx='1' fill='#2192EF')
					path(d='M174 179.387C174 179.387 206.576 158.954 211.284 143.772C213.355 137.093 207.948 135.356 204.735 138.554C191.865 151.363 212.798 195.949 193.399 194.985C188.555 194.744 188.549 188.231 188.549 188.231C188.549 173.758 206.234 160.215 213.355 166.374C217.627 170.07 212.798 179.249 217.647 179.387C222.497 179.526 223.218 167.763 227.195 169.14C230.164 170.167 226.973 175.756 228.377 178.551C231.923 185.609 247.291 166.374 247.291 166.374' stroke='#0F1D58' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
					path(d='M208.8 192.891C214.002 190.158 229.09 185.306 247.818 187.766' stroke='#0F1D58' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
					path(d='M183.623 103.408L186.938 100.347C187.759 99.5896 189.09 100.15 189.122 101.267L189.248 105.777C189.257 106.091 189.379 106.392 189.592 106.623L192.653 109.938C193.41 110.759 192.85 112.09 191.733 112.122L187.223 112.248C186.909 112.257 186.608 112.379 186.377 112.592L183.062 115.653C182.241 116.41 180.91 115.85 180.878 114.733L180.752 110.223C180.743 109.909 180.621 109.608 180.408 109.377L177.347 106.062C176.59 105.241 177.15 103.91 178.267 103.878L182.777 103.752C183.091 103.743 183.392 103.621 183.623 103.408Z' fill='#0F1D58')
					rect(x='223' y='70' width='17' height='17' rx='8.5' fill='#49A5F1')




block footer
	.page-footer
		+button(class="button--bot button--go-to-docs") 
			| Go to My Docs


