mixin nav-top(attributes)
	- const mode = attributes.mode || null;
	
	nav.nav-top
		.nav-top__inner
			.nav-top__list
				.nav-top__item
					a(href="#" title="Support").nav-top__link
						| Support
	
				.nav-top__item
					if (mode === "logged")
						a(href="#" title="Log out").nav-top__link
							| Log out
	
					else
						a(href="#" title="Log in").nav-top__link
							| Log in
					
mixin main-menu-redesigned(attributes)
	//mode can be
		not specified - regular menu for unlogged user
		"logged" - for user that logged in
		"non-subscribed" - for user that logged in but not subscribed
	-
		const mode = attributes.mode || null;
		let menu;

		if (mode === "logged") {
			menu = myDocsMainMenuV2;
		}
		else if (mode === "non-subscribed") {
			menu = myDocsMainMenuV2;
		} 
		else {
			menu = mainMenuV2;
		}

	nav.nav
		.nav__list
			for menuItem in menu
				if !menuItem.hasDropdown
					.nav__item
						if (menuItem.isActive)
							a(href="#" title= menuItem.name).nav__link.is-active
								= menuItem.name

						else
							a(href="#" title= menuItem.name).nav__link
								= menuItem.name

				else
					.nav__item.has-dropdown
						if (menuItem.isActive)
							a(href="#" title= menuItem.name).nav__link.nav__link--toggler.is-active
								= menuItem.name
						
						else
							a(href="#" title= menuItem.name).nav__link.nav__link--toggler
								= menuItem.name

						.nav-dropdown
							if (menuItem.leftSidedDropdownBlocks)
								.nav-dropdown__column.nav-dropdown__column--left
									for dropdownMenuItem in menuItem.leftSidedDropdownBlocks
										.nav-dropdown__list
											if dropdownMenuItem.headingLink
												.nav-dropdown__item
													a(href="#" title= dropdownMenuItem.headingLink).nav-dropdown__link.nav-dropdown__link--heading= dropdownMenuItem.headingLink

											if dropdownMenuItem.links
												for dropdownMenuItemLink in dropdownMenuItem.links
													if !dropdownMenuItemLink.hasSubmenu
														.nav-dropdown__item
															if dropdownMenuItemLink.mod
																a(href="#" title= dropdownMenuItemLink.name class="nav-dropdown__link--"+dropdownMenuItemLink.mod).nav-dropdown__link= dropdownMenuItemLink.name
																
															else
																a(href="#" title= dropdownMenuItemLink.name).nav-dropdown__link= dropdownMenuItemLink.name
													
													else
														.nav-dropdown__item.has-submenu
															a(href="#" title= dropdownMenuItemLink.name).nav-dropdown__link.nav-dropdown__link--toggler= dropdownMenuItemLink.name
															
															.nav-submenu
																.nav-dropdown__column
																	.nav-dropdown__list
																		for submenuItem in dropdownMenuItemLink.submenuLinks
																			.nav-dropdown__item
																				a(href="#" title= submenuItem.name).nav-dropdown__link= submenuItem.name

							if menuItem.rightSidedDropdownBlocks
								.nav-dropdown__column.nav-dropdown__column--right
									for dropdownMenuItem in menuItem.rightSidedDropdownBlocks
										.nav-dropdown__list
											if dropdownMenuItem.headingLink
												.nav-dropdown__item
													a(href="#" title= dropdownMenuItem.headingLink).nav-dropdown__link.nav-dropdown__link--heading= dropdownMenuItem.headingLink

											if dropdownMenuItem.links
												for dropdownMenuItemLink in dropdownMenuItem.links
													.nav-dropdown__item
														if dropdownMenuItemLink.mod
															a(href="#" title= dropdownMenuItemLink.name class="nav-dropdown__link--"+dropdownMenuItemLink.mod).nav-dropdown__link= dropdownMenuItemLink.name

														else
															a(href="#" title= dropdownMenuItemLink.name).nav-dropdown__link= dropdownMenuItemLink.name

			if (mode === "logged")
				+nav-item-logged-user()

			else if (mode === "non-subscribed")
				.nav__item
					+button(href="#")
						| Start Free Trial

				+nav-item-logged-user()

			else
				.nav__item
					+button(href="#")
						| Start Free Trial

mixin nav-item-logged-user()
	.nav__item.nav__item--user.has-dropdown
		.nav__link.nav__link--toggler(tabindex="0")
			.nav__user-avatar-wrapper
				img(src="images/_global/header/user-avatar.jpg" alt="User Avatar").nav__user-avatar

		.nav-dropdown.nav-dropdown--user
			.nav-dropdown__info.nav-dropdown__info--username
				.nav-dropdown__info-row
					.nav-dropdown__info-column.nav-dropdown__info-column--avatar
						.nav-dropdown__info-avatar-wrapper
							img(src="images/_global/header/user-avatar.jpg" alt="User Avatar").nav__user-avatar

					.nav-dropdown__info-column
						.nav-dropdown__info-name
							| Taras Shevchenko

						.nav-dropdown__info-mail
							| tarasshevchenko3000@ukr.net

			.nav-dropdown__info.nav-dropdown__info--stats
				.nav-dropdown__info-row
					.nav-dropdown__info-column
						| Account ID:

					.nav-dropdown__info-column
						| 10964978

				.nav-dropdown__info-row
					.nav-dropdown__info-column
						| Internal Email:

					.nav-dropdown__info-column
						a(href="#" alt="Mail").nav-dropdown__link.nav-dropdown__link--stats u1+dare.clint@gmail.com

				.nav-dropdown__info-row
					.nav-dropdown__info-column
						| Inbound Fax:

					.nav-dropdown__info-column
						a(href="#" alt="Fax").nav-dropdown__link.nav-dropdown__link--stats Get My Fax Number

				.nav-dropdown__info-row
					.nav-dropdown__info-column
						| Subscription:

					.nav-dropdown__info-column
						| 1 year subscription

				.nav-dropdown__info-row
					.nav-dropdown__info-column
						| Time Zone:

					.nav-dropdown__info-column
						| (UTC +02:00) MART 

			.nav-dropdown__list.nav-dropdown__list--user
				.nav-dropdown__item
					a(href="#" title="My Account").nav-dropdown__link.nav-dropdown__link--my-account
						| My Account

				.nav-dropdown__item
					a(href="#" title="My Account").nav-dropdown__link.nav-dropdown__link--logout
						| Log out
					
					
									
