mixin section-text(mods, el, attrs)
	- var modifier = ''
	- var element = el || 'div';
	- var attributes = attrs || {}

	if (mods)
		if (mods.constructor === Array)
			each mod in mods
				- modifier += ' section-text--'+mod
		else
			- modifier = 'section-text--'+mods

	#{element}.section-text(class=modifier)&attributes(attributes)
		block
