// dropdown arrow
toggler-arrow()
  pseudo()
  background-size contain
  background-repeat no-repeat
  background-image url("../images/_global/header/dropdown-arrow-mobile.svg")
  width 24px
  height 24px
  top calc(50% - 12px)
  right 12px
  transitions()

$mobile-menu-breakpoint = 1105px

// mobile menu layout
.layout-responsive__mobile-menu
  overflow-x hidden
  background-color #333
  transitions()

[data-offcanvas-container][data-offcanvas-hidden="false"]
  .nav-mobile__item
    opacity 1
    transform translate3d(0, 0, 0)

  .nav-mobile-trigger-button
    transform translateX(-256px)

  .is-redesigned-menu
    .header-logo
      +below(518px)
        opacity 0
// burger button
.nav-mobile-trigger-button
  top 0
  right 0
  bottom 0
  width 54px
  position absolute
  flex-center-xy()
  z-index 300
  transitions()

  +above($mobile-menu-breakpoint)
    display none

  &[aria-expanded="true"]
    .nav-mobile-burger
      transform rotate(90deg)

    .nav-mobile-burger__bar
      transition all .4s cubic-bezier(.4, .01, .165, .99)
      transition-delay .2s

      &:nth-child(1)
        transform translateY(2px) rotate(45deg)

      &:nth-child(2)
        opacity 0

      &:nth-child(3)
        transform translateY(-2px) rotate(-45deg)

.nav-mobile-burger
  display block
  width 28px
  min-width 28px
  transform rotate(0deg)
  transition all .3s cubic-bezier(.4, .01, .165, .99)

.nav-mobile-burger__bar
  display block
  position relative
  width 100%
  height 2px
  border-radius .4px
  background $gray-900
  transition all .3s cubic-bezier(.4, .01, .165, .99)
  transition-delay 0s

  &:nth-child(1)
    transform translateY(-8px) rotate(0deg)

  &:nth-child(2)
    transform translateY(0) rotate(0deg)

  &:nth-child(3)
    transform translateY(8px) rotate(0deg)

// mobile navigation
.nav-mobile
  position relative
  min-height 100%
  grid-row()
  align-items flex-start
  width 200%
  transitions()
  padding-bottom 102px
  font-family $font-family-base

  &.has-submenu
    overflow hidden
    transform translateX(-50%)

    .nav-mobile__body
      opacity 0

.nav-mobile__body,
.nav-mobile__submenus
  width 50%
  height 100%

.nav-mobile__body
  display flex
  flex-direction column
  transitions()

.nav-mobile__submenus
  background-color #333
  transitions()
  display flex
  flex-direction column
  padding-top 14px
  min-height 1px

.nav-mobile__footer,
.nav-mobile-submenu__footer
  padding 0 20px 20px

  .button
    width 100%
    font-size 14px
    line-height 16px
    font-weight $font-weight-semiBold

.nav-mobile__footer
  position absolute
  bottom 0
  left 0
  width 50%

.nav-mobile__item.nav-mobile__item--seaprator
.nav-mobile__item--seaprator
  position: absolute
  bottom 67px
  left 0
  width 50%

.nav-mobile-submenu__footer
  margin-top auto
  position: absolute;
  right: 0;
  width: 50%;
  bottom: 0;

  @media screen and (orientation landscape) and (max-device-width 812px) and (max-device-height 414px)
    display none

.nav-mobile__list
  padding-top 12px
  height 100%
  display flex
  flex-direction column

.nav-mobile__item
.nav-mobile-submenu__item
  position relative
  padding 6px 0

.nav-mobile__item--separator
  margin-top auto
  padding-top 52px
  padding-bottom 26px

  &:before
    pseudo()
    height 1px
    left 20px
    right 20px
    top 26px
    background-color #6B6B6B

.nav-mobile__link,
.nav-mobile-submenu__link,
.nav-mobile-dropdown__link
  color $white
  cursor pointer
  position relative
  display block

  &:hover
    color $white

.nav-mobile__list
  .nav-mobile__link.is-active
    color $white

.nav-mobile__link,
.nav-mobile-submenu__link
  font-size $font-size-bigger
  font-weight $font-weight-semiBold
  line-height $line-height-bigger

.nav-mobile-submenu__link
  padding 0 42px

.nav-mobile__link
  padding 0 32px

  &.is-active
    &:after
      pseudo()
      left 0
      top 0
      bottom 0
      width 4px
      background-color $orange-500

.nav-mobile-submenu__link--back
  &:before
    pseudo()
    background-size contain
    background-repeat no-repeat
    background-image url("../images/_global/header/submenu-arrow-back.svg")
    width 16px
    height 12px
    top calc(50% - 6px)
    left 16px
    transitions()

.nav-mobile-dropdown__link
  font-size $font-size-base
  font-weight $font-weight-normal
  line-height $line-height-small
  padding 8px 56px

  &.is-active
    font-weight $font-weight-bolder

.nav-mobile__link--toggler,
.nav-mobile-dropdown__link--toggler
  cursor pointer

  &:before
    toggler-arrow()

.nav-mobile__link--toggler
  &.has-dropdown
    &:before
      transform translateX(50px)
      opacity 0

.nav-mobile-dropdown
  display none

.nav-mobile-dropdown__list
  padding-top 10px

.nav-mobile-dropdown__link--toggler
  position relative

.nav-mobile-submenu
  background-color #333
  transitions()
  display none
  flex-direction column
  height 100%

  &.is-open
    display flex
    animation fadeIn .35s

    @media screen and (orientation landscape) and (max-device-width 812px) and (max-device-height 414px)
      overflow-y scroll

.nav-mobile-submenu__list
  @media screen and (orientation landscape) and (max-device-width 812px) and (max-device-height 414px)
    grid-row()

.nav-mobile-submenu__item
  @media screen and (orientation landscape) and (max-device-width 812px) and (max-device-height 414px)
    grid-column(1, 2)
    width 100%

  &:first-child
    padding-bottom 28px
    margin-bottom 18px

    @media screen and (orientation landscape) and (max-device-width 812px) and (max-device-height 414px)
      grid-column(1, 1)
      width 100%

    &:after
      pseudo()
      bottom 0
      left 20px
      right 20px
      height 1px
      opacity .2
      background-color $white

.nav-mobile__user
  padding 24px 20px
  position relative
  display block

  &:before
    pseudo()
    bottom 0
    left 20px
    right 20px
    height 1px
    opacity 0.2
    background-color $white

.nav-mobile__user-avatar-wrapper
  width 36px
  height 36px
  overflow hidden
  border-radius $border-radius-circle

.nav-mobile__user-avatar
  width 100%
  height 100%
  object-fit cover

.nav-mobile__user-name
  font-size $font-size-base
  font-weight $font-weight-bolder
  line-height $line-height-small
  color $white

.nav-mobile__user-mail
  font-size $font-size-small
  line-height 16px
  color #a0a0a0
  text-reduced-with-dots()

.nav-mobile__user-row
  grid-row(12)

.nav-mobile__user-column
  grid-column-padding(12)

.nav-mobile__user-column--avatar
  width 48px

.nav-mobile__user-column--name
  width calc(100% - 48px)
  text-reduced-with-dots()

.nav-mobile--v3
.nav-mobile--v5
  .form--search-mobile
    padding 6px 16px 6px 19px

    .form-submit,
    .form-icon
      display block

    .form__input-wrapper
      width 100%

    .form-icon
      width 38px

    .form-icon:before
      width 16px
      height 16px

    .form-icon:after
      content none

    .form-reset
      width 34px

    .form-reset:before
      width 10px
      height 10px

    .form-input
      padding-left 36px
      padding-right 36px
      font-size 16px

    .form-reset
      right 0
