.animated
  animation-duration 1s
  -webkit-animation-duration 1s
  -webkit-animation-fill-mode both
  animation-fill-mode both

.animated.infinite
  animation-iteration-count infinite
  -webkit-animation-iteration-count infinite

.animated.delay-1s
  animation-delay 1s
  -webkit-animation-delay 1s

.animated.delay-2s
  animation-delay 2s
  -webkit-animation-delay 2s

.animated.delay-3s
  animation-delay 3s
  -webkit-animation-delay 3s

.animated.delay-4s
  animation-delay 4s
  -webkit-animation-delay 4s

.animated.delay-5s
  animation-delay 5s
  -webkit-animation-delay 5s

.animated.fast
  animation-duration 800ms
  -webkit-animation-duration 800ms

.animated.faster
  animation-duration 500ms
  -webkit-animation-duration 500ms

.animated.slow
  animation-duration 2s
  -webkit-animation-duration 2s

.animated.slower
  animation-duration 3s
  -webkit-animation-duration 3s

.fadeInUp
  animation-name fadeInUp

@keyframes fadeInUp
  from
    opacity 0
    transform translate3d(0, 20%, 0)

  to
    opacity 1
    transform none

.fadeInRight
  animation-name fadeInRight

@keyframes fadeInRight
  from
    opacity 0
    transform translate3d(100%, 0, 0)

  to
    opacity 1
    transform none

.fadeInLeft
  animation-name fadeInLeft

@keyframes fadeInLeft
  from
    opacity 0
    transform translate3d(-20%, 0, 0)

  to
    opacity 1
    transform none

.fadeInDown
  animation-name fadeInDown

@keyframes fadeInDown
  from
    opacity 0
    transform translate3d(0, -20%, 0)

  to
    opacity 1
    transform none

.fadeIn
  animation-name fadeIn

@keyframes fadeIn
  from
    opacity 0

  to
    opacity 1
