button-sm()
	padding 10px
	font-size $font-size-base
	line-height 16px

button-md()
	padding 10px 16px
	font-size $font-size-bigger
	line-height $line-height-base

button-lg()
	padding 10px 16px
	font-size $font-size-bigger
	line-height $line-height-base
