//BORDERS
$border-radius = 4px
$border-radius-lg = 8px
$border-radius-circle = 50%

//LINKS
$link-color = $red-error
$link-hover-color = $red-hover

$tooltipster-color = $red-error
$tooltipster-color-bg = #fff3f1

//FORMS
$color-error = $red-error
$border-color-error = $red-border

$input-border-color = $light-grey-color
$input-box-shadow = 0 0 0 2px $input-shadow-color
$input-shadow-color = $gray-100
$input-placeholder-color = $gray-400

//BUTTONS
$button-color = $orange-500
$button-hover-color = $orange-300
$button-secondary-color = #a0a0a0
$button-secondary-active-color = #8e8e8e
$button-secondary-hover-color = #b3b3b3

//TEXT
$text-color-base = $gray-900
$title-color = $gray-900
$text-color-darken = $gray-900
$text-color-light = $gray-450

//FONTS-FAMILY
$font-family-sans = "Arial", "Helvetica", sans-serif
$font-family-base = "Open Sans", "Arial", sans-serif

//FONT-WEIGHT
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-semiBold = 600
$font-weight-bolder = 700
$font-weight-extraBold = 800

//FONT-SIZE
$font-size-small = 12px
$font-size-base = 14px
$font-size-bigger = 16px

//LINE-HEIGHT
$line-height-small = 20px
$line-height-base = 24px
$line-height-bigger = 28px

//FOOTER
$footer-bg = $dark-grey-color

//Z-INDEX
$zindex-100 = 100
$zindex-1000 = 1000

//TODO make z-indexes for elements on pages

//LABELS
$bg-label-information = #add0394d
$bg-label-individual = #a6cdff4d
$bg-label-employment = #ffba004d
$bg-label-other = #8392a74d
$bg-label-fiduciary = #c8b7ff4d
$bg-label-entity = #ff8a7e4d
$bg-label-transfer = #ff7ee64d
$bg-label-state = #ff90004d
