.action-arrow
a.action-arrow
  display inline-block
  text-decoration none
  font-size 14px
  line-height 20px
  font-weight 600
  position relative
  cursor pointer
  transitions()

  color $red-error

  +above($media-screen-desktop-lg)
    font-size 16px
    line-height 24px

  svg
    margin-left 7px
    transitions()

    path
      transitions()

  &:hover
  &.is-hovered
    text-decoration none
    color $red-hover

    svg
      transform translateX(5px)

      path
        fill $red-hover

  &:focus
  &.is-focused
    box-shadow 0 0 0 1px #fff, 0 0 0 3px #d4d4d4

  &:focus
  &.is-focused
  &:active
  &.is-active
    border-radius $border-radius
    outline none

  &:active
  &.is-active
    color $red-hover

    svg
      path
        fill $red-hover

  &:disabled
  &[disabled]
  &.is-disabled
    &
    &:hover
    &:focus
    &:active
      opacity 1
      outline none
      cursor not-allowed
      pointer-events auto
      box-shadow none
      color $red-hover

      svg
        transform none

        path
          fill $red-hover
